{% extends 'base.html.twig' %}

{% block title %}{{ 'admin.dashboard.command.title'|trans }}{% endblock %}

{% block body %}
    {% include 'admin/dashboard/command/partials/_tabs.html.twig' %}
    <section class="bg-gray-50 dark:bg-gray-900 p-3 sm:p-5 antialiased">
        <div class="mx-auto max-w-screen-2xl px-4 lg:px-12">
            <div class="bg-white dark:bg-gray-800 relative shadow-md sm:rounded-lg overflow-hidden">
                <div class="overflow-x-auto">
                    <table class="w-full text-sm text-left text-gray-500 dark:text-gray-400">
                        <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
                        <tr>
                            <th scope="col" class="p-4">{{ 'unique_id'|trans }}</th>
                            <th scope="col" class="p-4">{{ 'name'|trans }}</th>
                            <th scope="col" class="p-4">{{ 'status'|trans }}</th>
                            <th scope="col" class="p-4">{{ 'begin_at'|trans }}</th>
                            <th scope="col" class="p-4">{{ 'end_at'|trans }}</th>
                            <th scope="col" class="p-4"></th>
                        </tr>
                        </thead>
                        <tbody>
                            {% for logCommand in logCommands %}
                                <tr class="border-b dark:border-gray-600 hover:bg-gray-100 dark:hover:bg-gray-700">
                                    <th scope="row" class="px-4 py-3 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                                        {{ logCommand.uniqueId }}
                                    </th>
                                    <td class="px-4 py-3">
                                        <span class="bg-primary-100 text-primary-800 text-xs font-medium px-2 py-0.5 rounded dark:bg-primary-900 dark:text-primary-300">
                                            {{ logCommand.name }}
                                        </span>
                                    </td>
                                    <td class="px-4 py-3 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                                        <div class="flex items-center">
                                            <div class="h-4 w-4 rounded-full {{ logCommand.status is same as 0 ? 'bg-green-400' : 'bg-red-700' }}"></div>
                                        </div>
                                    </td>
                                    <td class="px-4 py-3 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                                        {{ logCommand.beginAtDate|date('Y-m-d H:i:s u') }}
                                    </td>
                                    <td class="px-4 py-3 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                                        {{ logCommand.endAtDate|date('Y-m-d H:i:s u') }}
                                    </td>
                                    <td class="px-4 py-3 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                                        <div class="flex items-center space-x-4">
                                            <button type="button"
                                                    data-drawer-target="drawer-read-modal"
                                                    data-drawer-show="drawer-read-modal"
                                                    aria-controls="drawer-read-modal"
                                                    class="py-2 px-3 flex items-center text-sm font-medium text-center text-gray-900 focus:outline-none bg-white rounded-lg border border-gray-200 hover:bg-gray-100 hover:text-primary-700 focus:z-10 focus:ring-4 focus:ring-gray-200 dark:focus:ring-gray-700 dark:bg-gray-800 dark:text-gray-400 dark:border-gray-600 dark:hover:text-white dark:hover:bg-gray-700"
                                                    data-drawer-fetch="{{ path('admin_dashboard_command_read', {'id': logCommand.id}) }}"
                                            >
                                                <svg xmlns="http://www.w3.org/2000/svg" viewbox="0 0 24 24" fill="currentColor" class="w-4 h-4 mr-2 -ml-0.5">
                                                    <path d="M12 15a3 3 0 100-6 3 3 0 000 6z" />
                                                    <path fill-rule="evenodd" clip-rule="evenodd" d="M1.323 11.447C2.811 6.976 7.028 3.75 12.001 3.75c4.97 0 9.185 3.223 10.675 7.69.12.362.12.752 0 1.113-1.487 4.471-5.705 7.697-10.677 7.697-4.97 0-9.186-3.223-10.675-7.69a1.762 1.762 0 010-1.113zM17.25 12a5.25 5.25 0 11-10.5 0 5.25 5.25 0 0110.5 0z" />
                                                </svg>
                                                {{ 'read'|trans }}
                                            </button>
                                        </div>
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
                <twig:Pagination current_page="{{ current_page }}" total="{{ total }}" limit="{{ limit }}" offset="{{ offset }}" />
            </div>
        </div>
    </section>
    <!-- Read Drawer -->
    <twig:ReadDrawer />
{% endblock %}
